#carrito {
  text-align: center;
  width: 90%;
}

#carrito ul li {
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  display: flex;
}

#carrito ul li button {
  cursor: pointer;
  background-color: #0000;
  border: none;
  font-size: 20px;
}

#carrito ul li button span {
  font-size: 17px;
}

#carrito ul li :first-child {
  width: 10%;
}

#carrito ul li :nth-child(2) {
  width: 20%;
}

#carrito ul li :nth-child(3), #carrito ul li :nth-child(4), #carrito ul li :nth-child(5), #carrito ul li :nth-child(6), #carrito ul li :nth-child(7) {
  width: 10%;
}

#carrito ul li:hover {
  background-color: #a2ddf8;
  border-radius: 15px;
  transition: all .2s cubic-bezier(.77, 0, .175, 1);
  transform: scale(1.02);
  box-shadow: 0 0 10px 2px #95d7f648;
}

#carrito ul li:hover i {
  padding: 10px;
  transform: scale(1.01);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}

header nav ul {
  z-index: 2;
  background-color: #0b1120;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 60px;
  margin: 0;
  display: flex;
  position: fixed;
}

header nav ul li {
  list-style: none;
}

header nav ul button {
  background-color: #0ea5e9;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-family: Roboto, sans-serif;
}

header nav ul button:hover {
  cursor: pointer;
  background-color: #7ac1f7;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0 0 10px 2px #5a5af95c;
}

#contenido {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px;
}

#btnCategorias button {
  padding-left: 10px;
  padding-right: 10px;
}

.desplegar {
  background-color: #0ea5e9;
  border-radius: 15px;
  flex-direction: column;
  animation: .5s alternate desplegar;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.desplegar button {
  background-color: #0000;
}

@keyframes desplegar {
  from {
    height: 10px;
  }

  to {
    height: 170px;
  }
}

main {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.login {
  box-sizing: content-box;
  color: #0ea5e9;
  background-color: #fff;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 17vw;
  margin-top: -9%;
  padding: 30px;
  display: flex;
  box-shadow: 0 0 10px 2px #00000028;
}

.login input {
  text-align: center;
  color: #000;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 90%;
  height: 30px;
  font-family: Roboto, sans-serif;
  box-shadow: 0 0 10px 2px #00000034;
}

.login input:focus {
  box-shadow: 0 0 10px 2px #2e8cff36;
}

.login input[type="submit"] {
  cursor: pointer;
  background-color: #0ea5e9;
}

.registro {
  box-sizing: content-box;
  color: #0ea5e9;
  background-color: #fff;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 17vw;
  margin-top: -9%;
  padding: 30px;
  display: flex;
  box-shadow: 0 0 10px 2px #00000028;
}

.registro div:not(.incorrecto) {
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.registro input {
  text-align: center;
  color: #000;
  z-index: 1;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 90%;
  height: 30px;
  font-family: Roboto, sans-serif;
  box-shadow: 0 0 10px 2px #00000034;
}

.registro input:focus {
  box-shadow: 0 0 10px 2px #2e8cff36;
}

.registro input[type="submit"] {
  cursor: pointer;
  background-color: #0ea5e9;
}

.ocultar {
  display: none;
}

.incorrecto {
  color: red;
  text-align: center;
  z-index: -1;
  background-color: #ff000015;
  border: 1px solid red;
  border-radius: 10px;
  width: 17%;
  padding: 4px;
  transition: all ease-in-out;
  animation: .2s aparecer;
  position: absolute;
  top: 337px;
}

@keyframes aparecer {
  from {
    opacity: 0;
    top: 200px;
  }

  to {
    opacity: 100;
  }
}

#productos {
  width: 100%;
  overflow: hidden visible;
}

#productos table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

#productos table thead, #productos table tbody {
  width: 100%;
}

#productos table th, #productos table td {
  text-align: left;
  text-align: center;
  border: 1px solid #80808046;
  padding: 8px;
}

#productos table thead tr th:first-child {
  width: 15%;
}

#productos table thead tr th:nth-child(2) {
  width: 40%;
}

#productos table thead tr th:nth-child(3) {
  width: 5%;
}

#productos table thead tr th:nth-child(4) {
  width: 40%;
}

#productos table tbody tr img {
  width: auto;
  max-height: 140px;
}

#productos table tbody tr button {
  background-color: #0000;
  border: none;
}

#productos table tbody td:nth-child(4) div {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex;
}

#productos table tbody td:nth-child(4) div button {
  width: 60px;
  height: 60px;
}

#productos table tbody td:nth-child(4) div button i {
  cursor: pointer;
  padding: 18px;
}

#productos ul {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 0;
  display: flex;
}

#productos ul li {
  cursor: pointer;
  z-index: 0;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  min-height: 100px;
  margin-bottom: 15px;
  display: flex;
}

#productos ul li img {
  width: 120px;
  max-height: 140px;
}

#productos ul li button {
  cursor: pointer;
  background-color: #0000;
  border: none;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 10px;
  font-size: 20px;
  display: flex;
}

#productos ul li button i {
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  display: flex;
}

#productos ul li button i:not(.bi-heart) {
  padding: 20px;
}

#productos ul li .precioProducto {
  width: 8%;
}

#productos ul li .nombreProducto {
  width: 30%;
}

#productos ul li:hover {
  background-color: #0ea4e933;
  border-radius: 15px;
  transition: all .2s cubic-bezier(.175, .885, .32, 1.275);
  transform: scale(1.02);
}

#productos .meGustaProducto {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  display: flex;
}

#productos .meGustaProducto i {
  z-index: 2;
  margin-top: -13px;
  padding: 10px;
}

#productos .meGustaProducto span {
  z-index: 1;
  margin-top: 20px;
  padding: 0;
  font-size: 14px;
  position: absolute;
}

#productos .noMeGustaProducto {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  display: flex;
}

#productos .noMeGustaProducto i {
  z-index: 2;
  margin-top: -18px;
  padding: 10px;
}

#productos .noMeGustaProducto span {
  z-index: 1;
  margin-top: 20px;
  padding: 0;
  font-size: 14px;
  position: absolute;
}

#productos .carritoProducto:hover {
  background-color: #8adaff;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #026d9e67;
}

#productos .favoritoProducto:hover {
  background-color: #ffd814ad;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #eeff0071;
}

#productos .meGustaProducto:hover {
  background-color: #e71d509d;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #e7587c9d;
}

#productos .noMeGustaProducto:hover {
  background-color: #aea6a89d;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #9e98999d;
}

.agregarCarrito {
  background-color: green;
  transition: all cubic-bezier(.075, .82, .165, 1);
  animation-iteration-count: 1;
}

.bi-star-fill {
  color: #ffd814ad;
}

.bi-heart-fill {
  color: #ff0051;
}

#filtros {
  justify-content: space-between;
  width: 90%;
}

#filtros ul {
  justify-content: center;
  align-items: center;
  padding-left: 0;
  list-style: none;
  display: flex;
}

#filtros ul li {
  cursor: pointer;
  background-color: #0ea5e9;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  display: flex;
}

#filtros ul .seleccionado {
  color: #fff;
  background-color: #0b1120;
}

#filtros ul li:hover {
  background-color: #95d7f6;
  transform: scale(1.07);
  box-shadow: 0 0 10px 2px #95d7f663;
}

#filtros ul li:hover i {
  padding: 10px;
  transform: scale(1.4);
}

.borde-radius-left {
  border-radius: 12px 0 0 12px;
}

.borde-radius-right {
  border-radius: 0 12px 12px 0;
}

.display-flex {
  display: flex;
}

/*# sourceMappingURL=index.d1a12fc3.css.map */
